* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #202124;
  color: #ccddf5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:visited,
a:active {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

section {
  padding: 16px;
  margin: 24px;
  border-radius: 8px;
  background: #0d1117;
}
