* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  background: #202124;
  color: #ccddf5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:visited,
a:active {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

section {
  border-radius: 8px;
  background: #0d1117;
  height: 90vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol {
  margin: 0px;
  padding: 0px;
}

::-webkit-scrollbar {
  width: 4px;
  background: #222;
}

::-webkit-scrollbar-thumb {
  background: #ccddf5;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ccdfff;
}
